/* RESET */
html, body, header, nav, a, ul, li, div, section, article, footer, p, h1, img, hr
{
	margin: 0;
	padding: 0;
}
body{
	font-size: 62.5%;
	font-family: Arial;
}
#wrapper{
	width: 80%;
	margin: 0 auto;
	margin-top: 1%;
}
.clear:after{
	content: "";
	display: block;
	clear: both;
	_zoom: 1;
}
header {
	background: url('images/background-header.png') no-repeat;
	background-size: 100%;
	padding-bottom: 4%;
}
#logo{
	margin-left: 2%;
	margin-top: 3%;
	float: left;
}
nav{
	margin-left: 25%;
}
header nav ul li a{
	display: inline-block;
	position: relative;
	text-decoration: none;
	color: white;
	font-weight:900;
	font-family: Arial;
	text-align: center;
	margin-top: 25%;
	font-size: 2em;	
}
header nav ul li{
	float: left;
	height: 120px;
	width: 175px;
	margin-left: 1%;
	display: inline-block;
	list-style: none;
	text-align: center;	
}
#li-nachalo{
	width: 16%;
	background: url('images/nachalo.png') no-repeat center;
	background-size: 100%;
	margin-left: -1%;
	margin-top: -1%;
}
#li-nachalo a{
	margin-top: 36%;
	font-weight: bold;
	color: #1688b3;
}
#li-zanas{
	position: relative;
	width: 15%;
	margin-left: 0%;
	margin-top: 1%;
	background: url('images/za-nas.png') no-repeat center;
	background-size: 100%;
}
#li-zanas a{
	margin-top: 42%;
	margin-left: 5%;
	font-weight: bold;
	color: #fc0303;
}
#li-hranene{
	width: 16%;
	margin-left: 1%;
	margin-top: 1%;
	background: url('images/hranene.png') no-repeat center;
	background-size: 100%;
}
#li-hranene a{
	margin-top: 35%;
	font-weight: bold;
	color: #38db06;
}
#li-porychki{
	position: relative;
	width: 20%;
	margin-top: -1%;
	margin-left: 0%;
	background: url('images/porychki.png') no-repeat center;
	background-size: 100%;
}
#li-porychki a{
	margin-top: 25%;
	line-height: 1em;
	font-weight: bold;
	color: #b904e6;
}
#li-galeriq{
	width: 15%;
	margin-top: 0%;
	margin-left: 0%;
	margin-right: 1.5%;
	background: url('images/galeriq.png') no-repeat center;
	background-size: 100%;
}
#li-galeriq a{
	margin-top: 40%;
	margin-left: 5%;
	font-weight: bold;
	color: #fb758e;
}
#li-contacti{
	width: 17%;
	margin-top: 1%;
	margin-left: -3%;
	background: url('images/contacti.png') no-repeat center;
	background-size: 100%;
}
#li-contacti a{
	margin-top: 40%;
	margin-left: 8%;
	font-weight: bold;
	color: #001cf2;
}
#content{
	width: 100%;
}
#content a{
	display: inline-block;
	position: absolute;
	text-decoration: none;
	color: white;
	font-family: Segoe Print, Regular;
	font-size: 2em;
	font-weight: bold;
	text-align: left;
}
#content h1{
	position: absolute;
	color: #ebebe1;
	
}
#deinosti{
	position: relative;
	margin-left: 2%;
	margin-top: -2%;
	border-radius: 50%;
	cursor: pointer;
}
#deinosti a{	
	margin-left: 2%;
	margin-top: 7%;
}
#deinosti h1{
	position: absolute;
	margin-left: 1%;
	margin-top: 10%;
	font-size: 2.8em;
}
#baza{
	position: absolute;
	margin-left: 9%; 
	margin-top: -12%;
	border-radius: 50%;
	cursor: pointer;
}
#baza a{
	position: absolute;
	margin-top: 60%;
	margin-left: -85%;
}
#baza h1{
	margin-left: 23%;
	margin-top: -33%;
	font-size: 5em;
}
#workshop{
	position: absolute;
	margin-left: 52%;
	margin-top: -11%;
	border-radius: 50%;
	cursor: pointer;
}
#workshop a{
	position: absolute;
	margin-top: 65%;
	margin-left: 44%;
	color: white;
}
#workshop h1{
	margin-left: 6%;
	margin-top: 52%;
	font-size: 3.6em;
}
#tyrjestva{
	position: absolute;
	margin-left: 58%;
	margin-top: -26%;
	border-radius: 100%;
	cursor: pointer;
}
#tyrjestva a{
	position: absolute;
	margin-top: 43%;
	margin-left: 60%;
	color: white;
}
#tyrjestva h1{
	margin-left: 8%;
	margin-top: 32%;
	font-size: 3em;
}
#circle-list{
	position: relative;
	margin-left: 28%;
	margin-top: -30%;
	float: left;
	width: 460px;
	height: 460px;
	border-radius: 50%;
	background: #3d3d3d;
	font-family: Arial;
	behavior: url('scripts/pie/PIE_uncompressed.htc');
}
#first-line{	
	margin-left: 24%;
	width: 55%;
	height: 3px;
	background-color: #ffd800;
	border:none !important;
}
#second-line{
	margin-left: 32%;
	margin-top: 2%;
	width: 53%;
	height: 3px;
	background-color: #ff00c0;
	border:none !important;
}
#galeriq{
	margin-left: 40%;
	margin-top: 8%;
	font-family: Arial;
	font-style: italic;
	font-size: 3em;
	color: #52cdfc;
	text-align: left;
}
#circle-content{
	display: inline-block;
	width: 55%;
	margin-left: 23%;
	margin-top: 5%;
	font-size: 1.6em;
	font-style: italic;
	color: white;
	text-align: center;
}
#content hr{
	margin-top: 18%;
	width: 100%;
	height: 1px;
	background-color: #cccccc;
	border:none !important;
}
#moto{
	height: 110px;
	text-align: center;
}
footer{
	height: 70px;
	position: relative;
}
footer hr{
	width: 100%;
	height: 1px;
	background-color: #cccccc;
	border:none !important;
}
footer ul{
	list-style: none;
	margin-left: 60%;
	margin-top: 1%;
	font-size: 1.5em;
	font-family: Arial;
	
}
footer a{
	text-decoration: none;
	color: #757679;
	font-size: 1em;
	font-weight: 500;
}
footer a:hover{
	text-decoration: underline;
}
footer ul li{
	position: relative;
	display: inline-block;
	float: left;
	padding-left: 1%;
	
}