/* RESET */
html, body, header, footer, nav, a, ul, li, div, section, article, p, h1, img, hr, br
{
	margin: 0;
	padding: 0;
}
body{
	font-size: 62.5%;
	font-family: Arial;
}
#wrapper{
	width: 80%;
	margin: 0 auto;
	margin-top: 1%;
}
.clear:after{
	content: "";
	display: block;
	clear: both;
	_zoom: 1;
}
header {
	background: url('images/background-header.png') no-repeat;
	background-size: 100%;
	padding-bottom: 2%;
}
#logo{
	margin-left: 2%;
	margin-top: 3%;
	float: left;
}
nav{
	margin-left: 25%;
}
header nav ul li a{
	display: inline-block;
	position: relative;
	text-decoration: none;
	color: white;
	font-weight:900;
	font-family: Arial;
	text-align: center;
	margin-top: 25%;
	font-size: 2em;	
}
header nav ul li{
	float: left;
	height: 120px;
	width: 175px;
	margin-left: 1%;
	display: inline-block;
	list-style: none;
	text-align: center;	
}
#li-nachalo{
	width: 16%;
	background: url('images/nachalo.png') no-repeat center;
	background-size: 100%;
	margin-left: -1%;
	margin-top: -1%;
}
#li-nachalo a{
	margin-top: 36%;
	font-weight: bold;
	color: #1688b3;
}
#li-zanas{
	position: relative;
	width: 15%;
	margin-left: 0%;
	margin-top: 1%;
	background: url('images/za-nas.png') no-repeat center;
	background-size: 100%;
}
#li-zanas a{
	margin-top: 42%;
	margin-left: 5%;
	font-weight: bold;
	color: #fc0303;
}
#li-hranene{
	width: 16%;
	margin-left: 1%;
	margin-top: 1%;
	background: url('images/hranene.png') no-repeat center;
	background-size: 100%;
}
#li-hranene a{
	margin-top: 35%;
	font-weight: bold;
	color: #38db06;
}
#li-porychki{
	position: relative;
	width: 20%;
	margin-top: -1%;
	margin-left: 0%;
	background: url('images/porychki.png') no-repeat center;
	background-size: 100%;
}
#li-porychki a{
	margin-top: 25%;
	line-height: 1em;
	font-weight: bold;
	color: #b904e6;
}
#li-galeriq{
	width: 15%;
	margin-top: 0%;
	margin-left: 0%;
	margin-right: 1.5%;
	background: url('images/galeriq.png') no-repeat center;
	background-size: 100%;
}
#li-galeriq a{
	margin-top: 40%;
	margin-left: 5%;
	font-weight: bold;
	color: #fb758e;
}
#li-contacti{
	width: 17%;
	margin-top: 1%;
	margin-left: -3%;
	background: url('images/contacti.png') no-repeat center;
	background-size: 100%;
}
#li-contacti a{
	margin-top: 40%;
	margin-left: 8%;
	font-weight: bold;
	color: #001cf2;
}
#content{
	width: 100%;
	
}
#content img{
	margin-left: 2%;
	margin-top: -3%;
}
#content h1{
	display: inline-block;
	color: #f7941d;
	margin-left: 25%;
	margin-top: -15%;
}
#content article{
	width: 97%;
	margin-top: -3.3%;
}
#content article h2, #content article p{
	margin-left: 12%;
	font-family: Arial;
}
#content article h2{	
	font-size: 2.2em;
	color: #00bff3;
}
#content article p{
	display: block;
	font-size: 1.5em;
	font-weight: 500;
	color: #757679;
}
#content article ol{
	margin-left: 8.5%;
	font-family: Arial;
	font-size: 1.5em;
	font-weight: bold;
	list-style: none;
}
#content article ol li:nth-child(1){
	color: #f7941d;
}
#content article ol li:nth-child(2){
	color: #00ff00;
}
#content article ol li:nth-child(3){
	color: #00aeef;
}
#content article ol li:nth-child(4){
	color: #ed145b;
}
#content hr{
	margin-top: 4%;
	margin-left: 2%;
	width: 94%;
	height: 1px;
	background-color: #cccccc;
	border:none !important;
}
#moto{
	height: 100px;
	margin-left: 8%;
	
}
footer{
	height: 70px;
}
footer hr{
	margin-left: 2%;
	width: 94%;
	height: 1px;
	background-color: #cccccc;
	border:none !important;
}
footer ul{
	list-style: none;
	margin-left: 60%;
	margin-top: 1%;
	font-size: 1.5em;
	font-family: Arial;
}
footer a{
	text-decoration: none;
	color: #757679;
	font-weight: 500;
}
footer a:hover{
	text-decoration: underline;
}
footer ul li{
	position: relative;
	display: inline-block;
	float: left;
	padding-left: 1%;
}