html, body{
	width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
	overflow-y: hidden; 
}

#header{
	width: 100%;
	height: 70px;
	border-bottom-left-radius: 70%;
	border-bottom-right-radius: 70%;
	border-color: white;
	box-shadow: 0 10px 20px 3px #555555;
	position: relative;
	background: #1B7FB3;/*#252a29*/
	
}
footer{
	width: 100%;
	border-top-left-radius: 70%;
	border-top-right-radius: 70%;
	border-color: white;
	box-shadow: 0 -10px 20px 3px #555555;
	height: 10%;
	background: #1B7FB3;/*#252a29*/
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	overflow: hidden; 
	clear: both;
	
}
#mainWrapper{
	min-height: 100%;
	position: relative;
	background: #D6D7D9;/*#4a4e4d;*/
}
#mainContainer{
	padding-bottom: 0;
	width: 100%;
	height: 100%;
}
#container, #subContainer1, #subContainer2, #subContainer3, #subContainer4, #subContainer5, #subContainer6{
	margin: 0 auto;
	margin-top: 2%;
	position: relative;
	width: 78%;
	height: auto;
	color: white;
	
}
ul{
	margin: 0 auto;
	list-style: none;
		
}
#middleItem, #subMiddleItem1, #subMiddleItem2, #subMiddleItem3, #subMiddleItem4, #subMiddleItem5, #subMiddleItem6{
	position: absolute;
	margin: 0 auto;
	width: 140px;
	height: 140px;
	background: #a8a6a6;
	border-radius: 50%;	
	font-size: 2em;
	font-family: Arial;
	color: white;	
	line-height: 4.5em;
	text-align: center;
	cursor: pointer;
	box-shadow: 
		inset 0 0 0 0 rgba(221,221,221, 0.4),
		inset 0 0 0 10px rgba(255,255,255,0.7),
		0 1px 2px rgba(0,0,0,0.1);
	transition: all 0.4s ease-in-out;
	
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#1d7eb3), color-stop(100%,#2b2b2b)); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover,  #1d7eb3 0%,#2b2b2b 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover,  #1d7eb3 0%,#2b2b2b 100%); /* Opera 12+ */

	
	animation: inout 1s; 
	animation-iteration-count: 1;
	-webkit-animation: inout 1s; /* Safari & Chrome */
	-webkit-animation-iteration-count: 1;
}

.subMiddleItem:hover{
	box-shadow: 
		inset 0 0 0 130px rgba(200,95,66, 0.4),
		inset 0 0 0 20px rgba(255,255,255,0.8),
	0 1px 2px rgba(0,0,0,0.1);

}
.subMiddleItem:hover .info {
	opacity: 0.2;
	transform: scale(1);    
}

.info {
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	overflow: hidden;
	opacity: 1;
	transition: all 0.4s ease-in-out;
	transform: scale(0);
	backface-visibility: hidden;

}
.sub-info a{
	text-decoration: none;
	color: white;
}

.item{
	margin: 0 auto;
	position: absolute;
	width: 180px;
	height: 180px;
	background: #1B7FB3; /*#0b6553*/
	border-radius: 50%;
	border-color: #CAC6C5;
	
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#1d7eb3), color-stop(100%,#2b2b2b)); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover,  #1d7eb3 0%,#2b2b2b 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover,  #1d7eb3 0%,#2b2b2b 100%); /* Opera 12+ */

	font-family: Arial;
	color: white;
	font-size: 2em;
	line-height: 6em;
	text-align: center;
	cursor: pointer;
	box-shadow: 
		inset 0 0 0 0 rgba(200,200,200, 0.4),
		inset 0 0 0 10px rgba(255,255,255,0.6),
		0 1px 2px rgba(0,0,0,0.1);
	transition: all 0.4s ease-in-out;
	
	animation: inout 1s; 
	animation-iteration-count: 1;
	-webkit-animation: inout 1s; /* Safari & Chrome */
	-webkit-animation-iteration-count: 1;
}
.item1{
	margin: 0 auto;
	position: absolute;
	width: 180px;
	height: 180px;
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#1d7eb3), color-stop(100%,#2b2b2b)); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover,  #1d7eb3 0%,#2b2b2b 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover,  #1d7eb3 0%,#2b2b2b 100%); /* Opera 12+ */
	border-radius: 50%;	
	font-family: Arial;
	color: white;
	font-size: 2em;
	line-height:6em;
	text-align: center;
	color:white;
	cursor: pointer;
	  box-shadow: 
	inset 0 0 0 0 rgba(255,255,255, 0.4),
	inset 0 0 0 10px rgba(255,255,255,0.6),
	0 1px 2px rgba(0,0,0,0.1);
	transition: all 0.4s ease-in-out;
	  -webkit-animation: animationFrames linear 1.5s;
	  -webkit-animation-iteration-count: 1;
	  -webkit-transform-origin: ;
}
@-webkit-keyframes animationFrames {
  0% {
   opacity:1;
    -webkit-transform:   scaleX(0.5) scaleY(0.5) ;
  }
  25% {

    -webkit-transform: scaleX(0.95) scaleY(0.95) ;
  }
  50% {
    opacity:1;
    -webkit-transform: scaleX(1) scaleY(1) ;
  }
  100% {   
    opacity:0;
    -webkit-transform:  rotate(180deg) scaleX(0.3) scaleY(0.3) ;
  }
}		
@keyframes inout { 
	0%   { transform: scale(0, 0); } 
	25%   { transform: scale(0, 0); }
	50%   { transform: scale(0, 0); }
	100%  { transform: scale(1, 1); } 
} 	
@-webkit-keyframes inout { /* Safari & Chrome */
	0%   { -webkit-transform: scale(0, 0);} 
	25%   { -webkit-transform: scale(0, 0);}
	50%   { -webkit-transform: scale(0, 0);}
	100%  { -webkit-transform: scale(1, 1);} 
}
.item:hover{
	box-shadow: 
	 inset 0 0 0 130px rgba(0,0,10, 0.4),
	inset 0 0 0 20px rgba(255,255,255,0.8),
	0 1px 2px rgba(0,0,0,0.1);	
}
.item:hover .info {
	opacity: 0.2;
	transform: scale(1);    
}
.item1:hover{
	box-shadow: 
	 inset 0 0 0 130px rgba(0,0,10, 0.4),
	inset 0 0 0 20px rgba(255,255,255,0.8),
	0 1px 2px rgba(0,0,0,0.1);	
}
.item1:hover .sub-info {
	opacity: 0.2;
	transform: scale(1);    
}
.back{
	width: 10%;
	height: 40px;	
	color: white;
	font-size: 1em;
	border-radius: 10px;
	border: 1px solid grey;
	margin-top: 3%;
	margin-left: 15%;
	background: #0b6553;
	-webkit-animation: inout 1s; /* Safari & Chrome */
	-webkit-animation-iteration-count: 1;
}
.back:focus{
	outline: 0;
}
.back:hover{
	border: 1px solid #ffffff;
}